<% if @error.present? %>
	<p class="error"><%= "#{@error}" %></p>
<% end %>
<div class="main-page">
	<h1 id="first-line">Welcome! Get Your Very Own</h1>
	<h1>ANAGRAM LIST</h1>
	<form action="/" method="post" class="form">
		<label for="word" class="index-label col-md-12">Enter a word. Only 3 letters please!</label>
		<div class="col-md-4"></div>
		<input type="text" name="word" class="col-md-4">
		<input type="submit" class="btn col-md-1">
	</form>
</div>