<h1>Anagrams for <%= "'#{@word}'" %></h1>
<ul>
	<% @anagrams.each do |anagram| %>
		<li><%= "#{anagram}" %></li>
	<% end %>
</ul>

<div class="redirect">
	<h2>Want to try it again?</h2>
	<a class="btn btn-default" href="/" role="button">Play again</a>
</div>