<% if !@error.nil? %>
  <p class="error-p"><%= @error %></p>
<% end %>

<div class="index-bg bg">
<h1 class="text-center form-title">Find Your Numerology Number</h1>

<div class="col-md-4"></div>
<form class="col-md-4" action="/" method="post">
<div class="form-group">
	<label for="first_name">First Name</label>
	<input class="form-control name" name="first_name" type="text" placeholder="Type something…"/>

	<label for="last_name">Last Name</label>
	<input class="form-control name" name="last_name" type="text" />

 	<label for="birthdate">Birthdate</label>
	<input class="form-control birthdate" name="birthdate" type="date" />
</div>

	<!-- <input class="btn btn-default" type="submit" /> -->
	<button class="btn btn-large btn-block button-title" type="submit">show me the magic</button>
</form>
</div>
</div>