<div class="message-bg">
<p class="message"><%= @message %></p>

<a class="btn btn-default button-title" href="http://localhost:9292/people" role="button">See All The People In Our Database</a>
</div>
